<div class="container">
  <div class="col-md-4">
    <a target="_blank" href="https://github.com/vivekbharatha/FCC-VotingApp" ><img width="25px" src="/assets/images/github.png" /> </a>
  </div>
  <div class="col-md-4">
    <p class="me">Made with Love ♥ by <a target="_blank" href="https://www.linkedin.com/pub/vivek-bharatha/49/b33/a76">Vivek Bharatha</a> :)</p>
  </div>
  <div class="col-md-4">
    <a target="_blank" href="https://www.freecodecamp.com/challenges/build-a-voting-app">Project use case</a>
  </div>
</div>
