<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-12">
      <h2>Add Poll</h2>
    </div>
    <div class="col-md-4 col-md-offset-4 col-sm-12">
      <form class="form" name="addPollForm" ng-submit="pc.addPoll(addPollForm)" novalidate>
        <div class="form-group">
          <label for="title">Title</label>
          <input id="title" type="text" name="title" class="form-control" ng-model="pc.newPoll.title" required />
        </div>

        <div class="form-group">
          <label for="options">Options (separated by comma)</label>
          <textarea id="options" type="text" name="options" class="form-control" ng-model="pc.newPoll.optionsString" required></textarea>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="addPollForm.title.$error.required && pc.submitted">
            Please enter title.
          </p>

          <p class="help-block" ng-show="addPollForm.options.$error.required && pc.submitted">
            Please enter options by comma separated.
          </p>

          <p class="help-block">{{ pc.errors.addPoll }}</p>
        </div>

        <button class="btn btn-primary" type="submit">Add Poll</button>

      </form>
    </div>
  </div>
</div>
