<div class="container">
  <div class="row well">
    <div class="col-md-6 col-sm-12">
      <h3>{{ pc.poll.title }}</h3>
      <div class="col-md-6 col-sm-12 voting-block">
        <form class="form" name="voteForm" ng-submit="pc.submitVote(voteForm)" novalidate>
          <div class="form-group">
            <select class="form-control" ng-model="pc.vote.option">
              <option value="">Select an option</option>
              <option ng-repeat="(_option, count) in pc.poll.options" value="{{_option}}">{{ _option }}</option>
            </select>
            <p ng-show="pc.isLoggedIn">Don't have you option? <a ng-click="pc.showOptionCreation = !pc.showOptionCreation">Create new</a></p>
            <div class="form-group" ng-show="pc.showOptionCreation">
              <label for="newOption">New Option</label>
              <input id="newOption" type="text" name="newOption" class="form-control" ng-model="pc.vote.newOption"/>
            </div>
          </div>
          <div class="form-group has-error">
            <p class="help-block">{{ pc.errors.votePoll }}</p>
          </div>
          <button class="btn btn-primary" type="submit">Vote</button>
        </form>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3>Votes</h3>
    </div>
    <div class="col-md-2 col-md-offset-10 col-sm-2" ng-show="pc.isItMine()">
      <button type="button" ng-click="pc.deletePoll()" class="btn btn-danger">Delete</button>
    </div>
  </div>
</div>
