.voting-block {
  padding: 0;
}


#legendPoll ul {
  list-style-type: none;
}

#legendPoll ul li {
  list-style-type: none;
  margin: 0;
  display: inline;
  margin-right: 5px;
}

#legendPoll ul span {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 4px;
}
